.title {
    font-size: 30;
    margin: 16;
    color: darkslategray;
}

.nav {
    orientation: horizontal;
    horizontal-align: stretch;
    padding: 4;
    background-color: lightblue;
}

.link {
    margin: 10 30;
    horizontal-align: stretch;
}

.router-link-active {
    background-color: lightcoral;
}

button {
    horizontal-align: left;
    margin: 0 6;
}