<ActionBar *ngIf="navigationVisibility === 'visible'">
    <Label text="Modal"></Label>
</ActionBar>

<GridLayout #rootLayout rows="*, auto" (showingModally)="onShowingModally($event)"> 
    <StackLayout backgroundColor="lightGreen">
        <Button text="Navigate To Second Page" (tap)="onNavigateSecondPage()" [visibility]="navigationVisibility"></Button>
        <Button text="Show Nested Modal Page With Frame" (tap)="showNestedModalFrame()" [visibility]="navigationVisibility"></Button>
        <Button text="Show Nested Modal Page" (tap)="showNestedModal()" [visibility]="navigationVisibility"></Button>
        <Button text="Show Dialog" (tap)="showDialogConfirm()"></Button>
        <Button text="Close Modal" (tap)="close(rootLayout)"></Button>
    </StackLayout>
</GridLayout>