<StackLayout>
    <Label text="Home" horizontalAlignment="center"></Label>
    <Button text="Show Modal Without Frame" (tap)="onModalNoFrame()"></Button>
    <Button text="Show Modal Page With Frame" (tap)="onModalFrame()"></Button>
    <Button text="Reset Named Frame Root View" (tap)="onNamedFrameRootViewReset()"></Button>
    <Button text="Reset Frame Root View" (tap)="onFrameRootViewReset()"></Button>
    <Button text="Reset Tab Root View" (tap)="onTabRootViewReset()"></Button>
    <Button text="Reset Layout Root View" (tap)="onLayoutRootViewReset()"></Button>
    <Button text="Show Dialog" (tap)="onShowDialog()"></Button>
</StackLayout>