<GridLayout rows="auto,auto" columns="auto, *">
    <Label text="Home Component" row="0" col="0" horizontalAlignment="center"></Label>
    <StackLayout id="home-page" row="1" col="0" borderColor="yellowgreen" borderWidth="1" borderRadius="5" padding="2">
        <TextView text="Reset root" editable="false"></TextView>
        <Button text="Reset Named Frame Root View" (tap)="onNamedFrameRootViewReset()" textAlignment="left"></Button>
        <Button text="Reset Frame Root View" (tap)="onFrameRootViewReset()" textAlignment="left"></Button>
        <Button text="Reset Tab Root View" (tap)="onTabRootViewReset()" textAlignment="left"></Button>
        <Button text="Reset Layout Root View" automationText="Reset Layout Root View" (tap)="onLayoutRootViewReset()"
            textAlignment="left"></Button>
    </StackLayout>
    <StackLayout id="home-page" row="1" col="1" borderColor="blue" borderWidth="1" borderRadius="5" marginLeft="2"
        padding="2">
        <TextView text="Navigate to example" editable="false"></TextView>

        <Button text="Show Modal Without Frame" (tap)="onModalNoFrame()" textAlignment="left"></Button>
        <Button text="Show Modal Page With Frame" (tap)="onModalFrame()" textAlignment="left"></Button>
        <Button text="Show Dialog" (tap)="onShowDialog()" textAlignment="left"></Button>
    </StackLayout>
</GridLayout>