bin/dist
node_modules
tags
todomvc/typings
!/src/nativescript-angular/
!/src/dependencies.d.ts
!/src/global.d.ts
deps/angular/dist
.baseDir.ts
.tscache
nativescript-angular*.tgz
angular2-*.tgz


ng-sample/app/**/*.js
ng-sample/app/nativescript-angular
ng-sample/app/global.d.ts
ng-sample/platforms
ng-sample/lib
ng-sample/node_modules

startup-test/platforms
startup-test/lib
startup-test/node_modules
