bin/dist
node_modules
tags
todomvc/typings
/src/*
!/src/nativescript-angular/
!/src/dependencies.d.ts
!/src/global.d.ts
.baseDir.ts
.tscache
nativescript-angular*.tgz


ng-sample/app
ng-sample/platforms
ng-sample/lib
ng-sample/node_modules
ng-sample/src/tns_modules
ng-sample/src/typings
ng-sample/src/angular2
ng-sample/src/nativescript-angular

todomvc/app
todomvc/platforms
todomvc/lib
todomvc/node_modules
todomvc/src/tns_modules
todomvc/src/typings
todomvc/src/angular2
todomvc/src/nativescript-angular
