env:
  global:
    - NODE_VERSION=6
    - NODE_VERSION=8
    - EMULATOR_API_LEVEL=22
    - ANDROID_VERSION=25
    - ANDROID_BUILD_TOOLS_VERSION=26.0.2
    - ANDROID_ABI=armeabi-v7a
    - APPIUM_VERSION=1.7.0
    - EMULATOR_NAME=test
    - ANDROID_TAG=google_apis

matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      before_install: 
        - nvm install $NODE_VERSION
      script: 
        - cd nativescript-angular
        - npm install
        - npm run tslint
    - stage: "Build"
      os: osx
      env:
        - Build="iOS"
      osx_image: xcode8.3
      language: node_js
      node_js: "6"
      jdk: oraclejdk8
      before_install: 
        - cd nativescript-angular
        - npm install
        - cd ../tests
        - npm install
        - cd ..
      script: 
        - cd nativescript-angular
        - npm run ngc
        - cd ../tests
        - tns build ios
    - os: osx
      env:
        - Build="iOS"
      osx_image: xcode8.3
      language: node_js
      node_js: "8"
      jdk: oraclejdk8
      before_install: 
        - cd nativescript-angular
        - npm install
        - cd ../tests
        - npm install
        - cd ..
      script: 
        - cd nativescript-angular
        - npm run ngc
        - cd ../tests
        - tns build ios
    - language: android
      node_js: "6"
      os: linux
      env:
        - Build="Android"
      jdk: oraclejdk8
      before_install: 
        - echo no | android create avd --force -n $EMULATOR_NAME -t "android-"$EMULATOR_API_LEVEL --abi $ANDROID_ABI --tag $ANDROID_TAG -c 12M
        - QEMU_AUDIO_DRV=none emulator -avd $EMULATOR_NAME -no-window &
        - nvm install $NODE_VERSION
        - cd nativescript-angular
        - npm install
        - cd ../tests
        - npm install
        - cd ..
        - android-wait-for-emulator
        - adb shell input keyevent 82 &
      script: 
        - cd nativescript-angular
        - npm run ngc
        - cd ../tests
        - tns build android
    - language: android
      node_js: "8"
      os: linux
      env:
        - Build="Android"
      jdk: oraclejdk8
      before_install: 
        - echo no | android create avd --force -n $EMULATOR_NAME -t "android-"$EMULATOR_API_LEVEL --abi $ANDROID_ABI --tag $ANDROID_TAG -c 12M
        - QEMU_AUDIO_DRV=none emulator -avd $EMULATOR_NAME -no-window &
        - nvm install $NODE_VERSION
        - cd nativescript-angular
        - npm install
        - cd ../tests
        - npm install
        - cd ..
        - android-wait-for-emulator
        - adb shell input keyevent 82 &
      script: 
        - cd nativescript-angular
        - npm run ngc
        - cd ../tests
        - tns build android

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.2
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-25
    - android-$EMULATOR_API_LEVEL
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-25
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-26
    - sys-img-armeabi-v7a-android-25
    - sys-img-armeabi-v7a-android-17
    - sys-img-armeabi-v7a-android-19
    - sys-img-armeabi-v7a-google_apis-$EMULATOR_API_LEVEL
  licenses:
    - ".+"

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - .nvm
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

install:
    - nvm install $NODE_VERSION
    - npm install -g typings
    - wget -O ./nativescript.tgz "https://s3.amazonaws.com/nativescript-ci/build_result/nativescript.tgz"
    - npm install -g nativescript.tgz --ignore-scripts
    - tns usage-reporting disable
    - tns error-reporting disable
