env:
  global:
  - NODE_VERSION=6.11.1
  - EMULATOR_API_LEVEL=19
  - ANDROID_VERSION=25
  - ANDROID_BUILD_TOOLS_VERSION=25.0.2
  - ANDROID_ABI=armeabi-v7a
  - APPIUM_VERSION=1.7.0
  - EMULATOR_NAME=test
language: android
jdk:
- oraclejdk8
android:
  components:
  - platform-tools
  - tools
  - build-tools-$ANDROID_BUILD_TOOLS_VERSION
  - android-$ANDROID_VERSION
  - android-$EMULATOR_API_LEVEL
  - extra-android-support
  - extra-android-m2repository
  - sys-img-$ANDROID_ABI-android-$EMULATOR_API_LEVEL
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install:
- nvm install $NODE_VERSION
- npm install -g typings
- wget -O ./nativescript.tgz "https://s3.amazonaws.com/nativescript-ci/build_result/nativescript.tgz"
- npm install -g nativescript.tgz --ignore-scripts
- tns usage-reporting disable
- tns error-reporting disable
- cd nativescript-angular
- npm install
- npm run tslint
- cd ../tests
- npm install
- npm i appium@$APPIUM_VERSION
before_script:
  - echo no | android create avd --force -n $EMULATOR_NAME -t android-$EMULATOR_API_LEVEL --abi $ANDROID_ABI -c 12M
  - emulator -avd $EMULATOR_NAME -no-skin -no-audio -no-window &
  - android-wait-for-emulator
script:
- echo $ANDROID_HOME
- ls -la $ANDROID_HOME/tools
- ls -la $ANDROID_HOME/tools/bin
- tns build android
- android-wait-for-emulator
- npm run e2e -- --runType travis-e2e-tests
