.title {
    font-size: 15;
    margin: 16;
}

.nav {
    orientation: horizontal;
    horizontal-align: stretch;
    vertical-align: bottom;
    padding: 4;
    background-color: lightblue;
    justify-content: space-around;
    align-content: center;
}

.link {
    margin: 10 30;
    horizontal-align: center;
}

.active {
    color: orangered;
    background-color: lightgreen;
}
