node_modules
platforms
hooks
.vscode

app/**/*.js
app/**/*.map

e2e/**/*.js
e2e/**/*.map

# Webpack files
tsconfig.esm.json
webpack.config.js

#tests
instruments*
e2e/reports
test-results.xml
.DS_Store
mochawesome-report