.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
    color: red;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

button {
    font-size: 20;
    horizontal-align: center;
}

.odd {
    background-color: hotpink
}

.even {
    background-color: lightseagreen;
}