.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

switch {
    margin: 10;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.editing {
    color: pink;
}

.complete {
    color: green;
}

.incomplete {
    color: red;
}
