.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

.add-button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.editing {
    color: pink;
}

.complete {
    color: green;
}

.incomplete {
    color: red;
}

.todo-item {
}

.todo-text {
}
