<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout>
    <Button text="Show Modal Without Frame" (tap)="onModalNoFrame()"></Button>
    <Button text="Show Modal Page With Frame" (tap)="onModalFrame()"></Button>
    <Button text="Navigate To Second Page" (tap)="onNavigateSecond()"></Button>
    <Button text="Reset Frame Root View" (tap)="onFrameRootViewReset()"></Button>
    <Button text="Reset Tab Root View" (tap)="onTabRootViewReset"></Button>
    <Button text="Reset Layout Root View" (tap)="onLayoutRootViewReset"></Button>
</StackLayout>