<StackLayout orientation="vertical">
    <!-- >> ng-tap-gesture-html -->
    <Label text="Tap here" (tap)="onTap($event)"></Label>
    <!-- << ng-tap-gesture-html -->
    
    <!-- >> ng-double-tap-gesture-html -->    
    <Label text="Double tap here" (doubleTap)="onDoubleTap($event)"></Label>
    <!-- << ng-double-tap-gesture-html -->
    
    <!-- >> ng-long-press-gesture-html -->
    <Label text="Long press here" (longPress)="onLongPress($event)"></Label>
    <!-- << ng-long-press-gesture-html -->
    
    <!-- >> ng-swipe-gesture-html -->
    <Label text="Swipe here" (swipe)="onSwipe($event)"></Label>
    <!-- << ng-swipe-gesture-html -->
    
    <!-- >> ng-pan-gesture-html -->
    <Label text="Pan here" (pan)="onPan($event)"></Label>
    <!-- << ng-pan-gesture-html -->
    
    <!-- >> ng-pinch-gesture-html -->
    <Label text="Pinch here" (pinch)="onPinch($event)"></Label>
    <!-- << ng-pinch-gesture-html -->
    
    <!-- >> ng-rotate-gesture-html -->
    <Label text="Rotate here" (rotation)="onRotate($event)"></Label>
    <!-- << ng-rotate-gesture-html -->
    
    <!-- >> ng-touch-gesture-html -->
    <Label text="Touch here" (touch)="onTouch($event)"></Label>
    <!-- << ng-touch-gesture-html -->    
</StackLayout>
