<StackLayout orientation="vertical">
    <!-- >> tap-gesture -->
    <Label text="Tap here" (tap)="onTap($event)"></Label>
    <!-- << tap-gesture -->
    
    <!-- >> double-tap-gesture -->    
    <Label text="Double tap here" (doubleTap)="onDoubleTap($event)"></Label>
    <!-- << double-tap-gesture -->
    
    <!-- >> long-press-gesture -->
    <Label text="Long press here" (longPress)="onLongPress($event)"></Label>
    <!-- << long-press-gesture -->
    
    <!-- >> swipe-gesture -->
    <Label text="Swipe here" (swipe)="onSwipe($event)"></Label>
    <!-- << swipe-gesture -->
    
    <!-- >> pan-gesture -->
    <Label text="Pan here" (pan)="onPan($event)"></Label>
    <!-- << pan-gesture -->
    
    <!-- >> pinch-gesture -->
    <Label text="Pinch here" (pinch)="onPinch($event)"></Label>
    <!-- << pinch-gesture -->
    
    <!-- >> rotate-gesture -->
    <Label text="Rotate here" (rotation)="onRotate($event)"></Label>
    <!-- << rotate-gesture -->
    
    <!-- >> touch-gesture -->
    <Label text="Touch here" (touch)="onTouch($event)"></Label>
    <!-- << touch-gesture -->    
</StackLayout>