.header {
    font-size: 32;
    white-space: normal;
}

.nested-header {
    font-size: 16;
}

.nested-outlet {
    margin: 20;
    background-color: lightgreen;
}

Label {
    text-align: center;
    font-size: 12;
}

Button {
    font-size: 12;
}