.off {
	background-color: white;
	padding: 10 10 10 10;
}

.on {
	animation-name: toggle;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	padding: 10 10 10 10;
}

@keyframes toggle {
	from { background-color: white; }
	50% { background-color: yellow; }
	to { background-color: green; }
}
