button {
    margin: 0 10;
}

.odd {
    background-color: cornflowerblue; 
}

.even {
    background-color: lightgreen;
}

.list-title {
    font-size: 20;
    text-align: center;
}

.header {
    background-color: cornflowerblue;
    font-size: 28;
    color: black;
    text-align: center;
}

.item {
    background-color: lightgreen;
    color: darkslategrey;
}